/* Aggiungi il seguente CSS per disporre gli elementi orizzontalmente e centrare i bottoni sotto le immagini */
body, h1, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 60px;
    box-shadow: 0px 3px 3px rgb(2, 36, 90);
}

#header-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap; /* Permette agli elementi di andare a capo quando lo spazio è insufficiente */
    justify-content: center; /* Centra gli elementi orizzontalmente */
}

#logo {
    width: 160px;
    height: 160px;
    margin-right: 10px;
    margin: 20px;
    margin-bottom: -50px;
    margin-top: -90px;
    position: absolute;
}

#site-title {
    margin-top: 18px;
    font-size: 40px;
    font-weight: bold;
}

#menu {
    list-style: none;
    display: flex;
 
    top: 10%;
    right: 20px;
    font-weight: bold;
    align-items: center;
}

#menu li {
    margin-right: 20px;
    margin-top: 80px;
}

#menu li a {
    text-decoration: none;
    color: #06146F;
    font-weight: bold;
    font-size: 19px;
}

#menu li a:hover {
    color: #8c95ac;
}

/* Modifica il layout quando la larghezza dello schermo è inferiore a 600px */
@media (max-width: 600px) {
    #header-content {
        flex-direction: column; /* Imposta la direzione degli elementi in colonna */
    }

    #logo {
        margin: 0 auto; /* Centra il logo orizzontalmente */
    }

    #menu {
        position: static; /* Rimuove la posizione assoluta */
        margin: 0 auto; /* Centra il menu orizzontalmente */
    }
}

.phrase h1 {
    margin-top: 40px ;
    text-align: center;
    color: rgb(2, 36, 90);
    font-size: 30px;
    font-weight: bold;
}

.phrase h2 {
    margin-top: 80px ;
    text-align: center;
    color: rgb(2, 36, 90);
    font-size: 30px;
    font-weight: bold;
}

.text-container p {
    font-size: 20px;
    color: black;
    display: block;
    text-align: center;
}

/* Stili per la descrizione */
.description {
    display: flex;
    justify-content: space-between;
}

#contenitore {
    max-width: 100%; /* Larghezza massima del contenitore */
    margin: 0 auto; /* Centra il contenitore orizzontalmente */
    text-align: center; /* Centra il testo all'interno del contenitore */
    margin-top: 60px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 310px;
}

#bottone {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #0078a5;
    color: #fff;
    border: none;
    cursor: pointer;
}




